.grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: column;
        gap: 0px;
        }
.grid-item {
        border: 10px solid #1e550e;
        padding: 15px;
        text-align: center;
    }
 .my-button {
      background-color: #887b09;
      color: rgb(0, 0, 0);
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border: 10px;
      border-radius: 5px;
    }
 .background-info{
    display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: column;
        gap: 0px;
 }

.pg-2-title{
  color: rgb(104, 104, 196);
}
 body {
      font-family: 'Roboto', sans-serif;
      margin: 40px;
    }

    h1 {
      text-align: center;
      font-size: 70px;
    }

    p {
      font-size: 30px;
      text-align: center;
    }

    hr {
      margin: 40px 0;
    }

    .landmark {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 40px;
    }

    .image img {
      width: 200px;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
    }

    .info {
      max-width: 600px;
    }

    .info h2 {
      margin: 0;
      font-size: 32px;
    }

    .info p {
      margin-top: 10px;
      text-align: left;
      font-size: 20px;
    }
    .image-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    }
    .image-row img{
    width: 400px;
    height: auto;
    border-radius: 8px;
    flex: 1;
    }
    .image-item {
  text-align: center;
  flex: 1;
}

.image-item p {
  font-size: 20px;
  margin-bottom: 8px;
}